@model EtestWebApp.Models.Kodg

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kodg</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kt.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OidNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PidNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
